**/target/
**/bin/
**/build/
**/gradle/
**/.gradle/
**/.settings/
**/.vscode
**/.idea/
**/.apt_generated/
**/*~
**/.classpath
**/.project
**/.DS_Store
**/*.jfr
**/*.iml
**/*.bak
**/dependency-reduced-pom.xml
/.metadata/
